.card {
    width: 100%;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    gap: 12px;
    border-radius: 12px;
    border: 1px solid #ffffff50;
    box-shadow: 0 12px 6px #000;
}
.card h1 {
    font-size: 1.6rem;
}