.home {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-image: url("/public/imagens/caba-treinando.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.inicio {
    position: absolute;
    bottom: 0;
    padding: 0 28px 32px 28px;
}
.inicio h1 {
    font-size: 3.5rem;
    margin: 0;
}
.inicio h1 span {
    color: var(--var-destaque);
}
.inicio p {
    font-size: 1.4rem;
}
.inicio p span {
    color: var(--var-destaque);
}
.inicio a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.inicio a button {
    font-size: 1.4rem;
    color: var(--var-branco);
    font-weight: 600;
    padding: 12px 24px;
    border: none;
    outline: none;
    border-radius: 12px;
    background-color: var(--var-destaque);
}